
/* apply a natural box layout model to all elements */
*, *:before, *:after {
 -moz-box-sizing: border-box; /* Mozilla Firefox */
 	-o-box-sizing: border-box; /* Opera */
 		-webkit-box-sizing: border-box; /* Chrome and Safari */
 			-ms-webkit-box-sizing: border-box; /* Internet Explorer */
       			box-sizing: border-box;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { 
	display: inline-block; 
}
/* start commented backslash hack */
* html .clearfix { 
	height: 1%; 
}
.clearfix { 
	display: block; 
}




/* Container set at 960px in % */
.container {
	max-width: 70.3%;
	margin: 0 auto;
	position: relative;
	background: gray;
	padding: 40px 10px;
}

.header-container {
	max-width: 70.3%;
	margin: 0 auto;
	position: relative;
}

.home-container {
	max-width: 70.3%;
	margin: 0 auto;
	position: relative;
}




/* Body get rid of margins */
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif, helvetica, tahoma, arial, serif;
	font-size: 100%; /* Clears bug in IE */
}


header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  zoom: 1;
  /* Note: This gradient may render differently in browsers that don't support the unprefixed gradient syntax */

/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #696969 0%, #3F3F3F 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #696969 0%, #3F3F3F 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #696969 0%, #3F3F3F 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #696969), color-stop(1, #3F3F3F));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #696969 0%, #3F3F3F 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #696969 0%, #3F3F3F 100%);
}

/* RIGO LIMON name */
.my-initials {
  float: left;
  color: rgb(0,255,0);
  padding-bottom: 3px;
  font-size: 200%;
  width: 15%;
  height: 55px;
}

nav ul {
	margin: 0;
}

nav ul li {
 float: left;
 list-style: none;
 display: inline;
}

nav ul li:nth-child(1) {
  margin-left: 350px;
}

.my-info li a {
  display: block;
  text-decoration: none;
  padding: 10px 25px;
  color: white;
  font-size: 90%;
  margin-top: 14px;
  -webkit-transition: 0.25s all linear 0;
  transition: 0.25s all linear 0;
}

#link-home:hover, #link-home.active {
	border-bottom: 5px solid #7BBF97;
	color: rgb(0,255,0);
}

#link-profile:hover, #link-profile.active {
	border-bottom: 5px solid #7BBF97;
	color: rgb(0,255,0);
}

#link-portfolio:hover, #link-portfolio.active {
	border-bottom: 5px solid #7BBF97;
	color: rgb(0,255,0);
}

#link-contact:hover, #link-contact.active {
	border-bottom: 5px solid #7BBF97;
	color: rgb(0,255,0);
}

/* HOME SECTION */

#home {
	background: url('../img/rain.jpg') no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
		-moz-background-size: cover;
			-o-background-size: cover;
	background-attachment: fixed;
	width: 100%;
	margin-top: 21px;
	position: relative;
	min-height: 100vh;
}

.animated-heading {
	width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
	top: 14em;
	text-align: center;
}

.my-name {
	color: #1B1716;
	font-size: 320%;
	letter-spacing: 0.1em;
	width: 60%;
	margin: 0 auto;
}

.description {
	width: 100%;
}

.description h2 {
	background: rgb(0,0,0);
	margin: 0 auto;
	width: 50%;
	letter-spacing: 0.2em;
	padding: 8px 0;
	font-size: 150%;
	color: rgb(0, 255, 0);
	text-align: center;
}


/* MY PROFILE */

.profile-container {
	max-width: 70.3%;
	margin: 0 auto;
	position: relative;
	padding: 80px 5px;
}

#profile {
	min-height: 100vh;
	width: 100%;
	position: relative;
	background: url('../img/pixel_weave.png');
}


/* MEET AND PORTFOLIO BUTTONS */

.meet, .portfolio-button, .contact-button {
	margin: 0 auto 60px auto;
	display: block;
	background: #F4594E;
	color: #fff;
	padding: 15px 40px;
	font-size: 140%;
	letter-spacing: 0.1em;
	border: none;
}


.my-profile-image {
	width: 35%;
	float: left;
	border-radius: 100%;
}

.my-intro {
	float: left;
	width: 61%;
	position: relative;
	margin-left: 4%;
	text-align: justify;

}

.my-intro p {
	padding: 0px 3px;
}

/* PORTFOLIO SECTION */

#portfolio {
	width: 100%;
	position: relative;
	background: url('../img/wild_oliva.png');
}

.portfolio-container {
	max-width: 70.3%;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 80px 5px;
}




.portfolio-container > div {
	background: white;	
	border: 1px solid white;
	padding: 90px 0;
	width: 48%;
	display: inline-block;
	vertical-align: top;
	margin: 8px;
	opacity: 0.3;
	cursor: pointer;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover {
	opacity: 1;
}


/* CONTACT FORM */

#contact {
	width: 100%;
	position: relative;
	background: url('../img/pixel_weave.png');
}

.contact-container {
	max-width: 70.3%;
	margin: 0 auto;
	position: relative;
	background: green;
	overflow: hidden;
}
.contact-options {
	text-align: center;
	background: blue;
	padding: 0;
}

.contact-options img {
	width: 5%;
    float: left;
    vertical-align: top;
}

.contact-options li  {
	list-style: none;
	display: inline;
}

.contact-options li a {
	text-decoration: none;
}


#map_canvas {
        width: 500px;
        height: 400px;
        display: inline-block;
        vertical-align: top;
      }


footer {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	font-size: 80%;
	color: #ffff;
	border-top: 1px solid #696969;
}







