
body {
	margin: 0;
	width: 100%;
	background: url('wood_pattern.png');
	height: 100vh;
}




h1 {
	background: url('dark.png');
	line-height: 30px;
	padding: 30px 0;
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	word-spacing: 10px;
	margin: 0;
}

h2 {
	margin: 0 auto;
	font-family: 'Lobster', cursive;
	width: 30%;
	background: green;
}

.anim {
	-webkit-animation: glow 5s infinite; /* Safari 4+ */
  		-moz-animation:    glow 5s infinite; /* Fx 5+ */
  			-o-animation:      glow 5s infinite; /* Opera 12+ */
  				animation: 		glow 5s infinite;
  	display: block;
  	font-family: 'Lobster', cursive;
  	letter-spacing: 5px;

}

@-webkit-keyframes glow {
  0%   { opacity: 0; }
  100% { opacity: 1; font-size: 2.2em; }
}
@-moz-keyframes glow {
  0%   { opacity: 0; }
  100% { opacity: 1; font-size: 2.2em;}
}
@-o-keyframes glow {
  0%   { opacity: 0; }
  100% { opacity: 1; font-size: 2.2em;}
}
@keyframes glow {
  0%   { opacity: 0; }
  100% { opacity: 1; font-size: 2.2em;}
}

.inputBox {
	margin-top: 70px;
	text-align: center;
}

#inputNumber, #inputBtn {
	vertical-align: top;
	margin: 0;
	border: 2px solid #2d6d71;
	border-radius: 5px;
	font-weight: bold;
}

#inputNumber {
	text-align: center;	
	background-color: #FFC80D;	
	height: 55px;
	width: 40%;
	color: #fff;
	font-size: 1.5em;
}

#inputBtn {
	height: 60px;
	width: 10%;
	background-color: #FF6E0D;
	transition: 0.5s all ease-in-out;
	-webkit-transition: 0.5s all ease-in-out;
}

#inputBtn:hover {
	cursor: pointer;
	opacity: .6;
	width: 12%;
}

p {
	margin: 10px auto 0 auto;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #000;
	text-align: center;
	letter-spacing: 5px;
	font-family: 'Lobster', sans-serif;
	font-weight: bold;
	width: 250px;
	font-size: 20px;
	line-height: 10px;
	padding: 10px 0;
	color: #fff;
}

.fizzbuzz {
	background-color: #24CB40;
	box-shadow: 0 0 200px green;
	width: 50%;
	cursor: pointer;
	-webkit-animation: bingo 5s infinite; /* Safari 4+ */
  -moz-animation:    bingo 5s infinite; /* Fx 5+ */
  -o-animation:      bingo 5s infinite; /* Opera 12+ */
  animation: 		bingo 5s infinite;
}

@-webkit-keyframes bingo {
  0%   { opacity: 0;}
  100% { opacity: 1;}
}
@-moz-keyframes bingo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes bingo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes bingo {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.fizz {
	background-color: #0E16A1;
	width: 50%;
}

.buzz {
	background-color: #EDBA0C;
	width: 50%;
}

.default {
	background-color: #7f8c8d;
	width: 50%;
}
