
body {
	margin: 0;
	position: relative;
}



header {
	width: 100%;
	border-bottom: 1px solid black;
	overflow: hidden;
	margin-bottom: 50px;
	padding: 5px 0;
}

nav {
	overflow: hidden;
}

input[type='text'] {
	border-radius: 10px;
	padding: 5px;
	float: left;
	width: 55%;
	border: 1px solid black;
	margin-top: 6px;
	margin-left: 3px;
}

input[type='text']:focus {
	border: 1px solid gray;
	border-radius: 10px;
}

input[type="text"] {
	border-radius: 10px;
	border: 1px solid yellow;
}

.search {
	float: right;
	margin-right: 10px;
    margin-bottom: 5px;
	padding: 9px 30px;
	border: none;
	border-bottom: 2px solid black;
	color: white;
	border-radius: 5px;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #7A7A7A 0%, #000000 100%);
}

.search:active {
	border-bottom: none;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #7A7A7A 0%, #000000 100%);
}

.container {
	width: 100%;
	position: relative;
	height: 100vh;
	display: inline-block;

}

.link {
	width: 100%;
	position: absolute;
	top: 60px;
}

.buttons {
	text-decoration: none;
	display: inline-block;
	font-size: 1.2em;
	padding-left: 10px;
	margin-left: 20px;
}

.home-button {
	width: 10%;
}

.lost-button {
	text-decoration: none;
	color: white;
}

.home {
	position: absolute;
	top: 60px;
	display: block;
	margin-bottom: 30px;
}


.logo {
	width: 80%;
	background: gray;
	height: 40vh;
	margin: 0 auto;
	margin-bottom: 50px;
	border-radius: 100%;
}

.lost-item, .found-item {
	display: block;
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 20px 0;
	border: none;
	border-bottom: 2px solid black;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #7A7A7A 0%, #000000 100%);
}

.lost-item:active, .found-item:active {
	border-bottom: none;
}

footer {
	background: gray;
	padding: 5px 0;
	text-align: center;
	position: relative;
	bottom: 0;
	clear: both;
	width: 100%;
	color: white;
	border-top: 1.3px solid black;
    margin-top: 337px;
}


/* LOST PAGE */
.venues {
	font-size: 2em;
	width: 90%;
	clear: both;
	margin: 0 auto;
	text-align: center;
	padding: 15px 0;
	margin-bottom: 40px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #7A7A7A 0%, #000000 100%);
}

.venues:active {
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #7A7A7A 0%, #000000 100%);
}

.options {
	width: 90%;
	margin: 0 auto;
	text-align: center;
}

.options > div {
	width: 44%;
	display: inline-block;
	border-bottom: 3px solid black;
	padding: 40px 0;
	margin: 6px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom, #7A7A7A 0%, #000000 100%);
}

.options > div:active {
	border-bottom: none;
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7A7A7A), color-stop(1, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #7A7A7A 0%, #000000 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #7A7A7A 0%, #000000 100%);
}


@media (min-width: 640px) {


}