

body {
  margin: 0;
}

/*CONTAIN PAGE*/

.contain {
  margin: 0 auto;
  width: 60em;
}

/*HEADER*/


header {
	height: 18.5em;
	width: 100%;
	background: url('../images/beans.jpg') no-repeat;
  background-size: 100% auto;
  position: relative;
  text-align: center;
}

/*BEANS CAFFE LOGO*/

.beanslogo {
  display: inline-block;
  margin-top: 1.2em;
}

nav {
  width: 100%;
  position: absolute;
  top: 13em;
  left: 0;
  right: 0;
}

nav ul {
  background: rgb(35, 11, 3);
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #C3B08F;
  text-decoration: none;
  margin-right: 2em;
  padding: 0.3em 0;
  font-size: 1.1em;
}

.coffee-section {
  width: 100%;
  text-align: center;
}

.coffee-section ul li {
  display: inline-block;
  width: 21.25em;
  margin-bottom: 1.25em;
  margin-right: 5em;
  border: 1px solid black;
}

.coffee-section ul li:last-child {
  margin-left: 2em;
}

/*FOOTER*/

footer {
  width: 100%;
  background: #230B03;
  text-align: center;
  padding: 1.25em 0;
  color: white;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 0.8em;
  font-style: italic;
  color: #CFBC9A;
}
