



/*CONTAIN PAGE*/

.contain {
  margin: 0 auto;
  width: 60em;
}

/*HEADER*/


header {
	height: 18em;
	width: 60em;
	background: url('../images/beans.jpg') no-repeat;
  background-size: 100% auto;
  position: relative;
}

/*BEANS CAFFE LOGO*/
.beansimage {
  width: 1024px;
  text-align: center;
}
.beanslogo {
  display: inline-block;
  margin-top: 20px;
}

nav {
  width: 100%;
  position: absolute;
  top: 220px;
  left: 0;
  right: 0;
}

nav ul {
  background: rgb(35, 11, 3);
  text-align: center;
}

nav li {
  display: inline-block;
}

nav li a {
  display: block;
  color: #C3B08F;
  text-decoration: none;
  margin-right: 28px;
  padding: 5px 0;
  font-size: 1.1em;
}

.coffee-section {
  width: 1024px;
  text-align: center;
}

.coffee-section ul li {
  display: inline-block;
  width: 340px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.coffee-section ul li:last-child {
  margin-left: 25px;
}

/*FOOTER*/

footer {
  width: 1024px;
  background: #230B03;
  text-align: center;
  padding: 20px 0;
  color: white;
  position: relative;
  bottom: 0;
}

footer p {
  font-size: 0.8em;
  font-style: italic;
  color: #CFBC9A;
}
