body {
	margin: 0;
	padding: 0;
}

header {
	background: url(../images/beans.jpg) no-repeat;
	width: 100%;
	background-size: cover;
	height: 330px;
}

nav {
	float: right;
	background: brown;
}

nav li {
	display: inline-block;
}